body{

	color:#4DB8FF;
	background: url(../img/background.jpg) no-repeat;
	background-size: 100% 100%;
 	background-attachment: fixed;

	/*font-family:helvetica, sans-serif;*/
}

header{
	width:80%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:0px;
	padding-bottom:0px;
	font-family: 'Pattaya', sans-serif;
	font-size:10em;
}


#container{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:.5%;
	margin-top:0px;
	padding-top:10px;
	padding-left:10px;
	padding-bottom:10px;
	background-color: rgba(255,255,255,.5);
	overflow:auto;
	font-size:1.25em;
	text-align:center;
}

#inputname{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	text-align:center;
	padding-bottom:10px;
}

#inputtext{
	width:50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	text-align:center;
	padding-bottom:10px;
}

#messages{
	font-family: 'Lato', sans-serif;
	width:90%;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:.5%;
	margin-top:20px;
    overflow: auto;
    text-align: left;
    padding-left:10px;
    overflow: scroll;
    height:500px;

}

#textinput{
	text-align:center;
	padding-bottom: 5px;
}

/*footer{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-top:.5%;
	padding-bottom:.4%;
	background-color:#eeeeee;
	overflow:auto;
	font-size:1em;
	text-align:center;
}*/

